%center-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

%center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

%align-icons {
  display: flex;
  align-items: center;
}

.app {
  position: relative;
  top: 56px;
}

.product-card {
  width: 300px;
  height: 500px;
  .card-img-top {
    height: 300px;
  }
}

.editUserForm {
  .form-control { background: lightyellow };
}

.btn-link {
  cursor: pointer;
}