.nav {
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  z-index: 1;
  grid-template-columns: 25% 50% 25%;

  .menu-icon {
    svg {
      @extend %center-vertically;
      left: 15px;
      height: 40px;
      color: white;
      line-height: 56px;
      cursor: pointer;
      z-index: 1;
    }

    &:active::after {
      position: absolute;
      top: 5px;
      left: 1px;
      display: inline-block;
      content: "";
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background: #FFF;
      opacity: 0.05;           
    }  
  }

  .user-login  {
    position: relative;
    
    .toggle-login-button { 
      @extend %center-vertically; 
      right: 20%;
      color: #FFF;
      cursor: pointer;
    }
    
  }

  .user-actions {
    position: relative;
    color: #FFF;

    .user-shopping-cart { 
      @extend %center-vertically;
      cursor: pointer; 
      right: calc(10% + 70px);
      &:active { transform: translateY(-45%); }
      color: #FFF;

      .badge { 
        display: inline-block;
        vertical-align: top; 
        height: 16px;
        font-size: 10px;
        margin-left: 5px;
      }
    }

    .dropdown {
      @extend %center-vertically;
      right: 10%;

      .avatar {
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }    
    }

    .dropdown-item {
      @extend %align-icons;
      svg { margin-right: 10px; }
    }
  }
}