.product {
    padding: 50px 0;

    .product-title {
        font-family: Roboto,sans-serif;
        font-weight: bold;
        font-size: 34px;
    }

    .product-body {
        display: grid;
        grid-template-columns: 47.5% 47.5%;
        grid-column-gap: 5%;

        .product-media img {
            padding: 60px 0;
            width: 100%;          
        }

        .product-info > * {
            cursor: pointer;
        }
    }
}

.star-ratings {
    margin-bottom: 15px;
}

