
.search-input {
    position: relative;
    input.form-control { @extend %center-element; width: 60%; } 

    .search-cards {
        position: fixed;
        width: 50% * 0.6;
        top: 47px;
        height: 300px;
        overflow-y: auto;
        left: 50%;
        transform: translateX(-50%);
    
        .search-card {
            display: grid;
            grid-template-columns: 25% 75%;
            padding: 5px;
            box-sizing: border-box;
            cursor: pointer;
    
            &:hover {
                color: #FFF;
                background: #212529;
            }
    
            .card-img-top { align-self: center; }
        }
    }   
}
